{% extends "base/base_templates2.html" %}
{% load static %}
{% block content %}

<!----------------COntent start-------------->
<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <!-- <div class="login-form-content"> -->
            <!-- <form action="javascript:(0);"> -->

              <form method="POST" >
                {% csrf_token %}
              <h2 class="form-title">My Profile</h2>
              <div class="row">
                <div class="col-md-12 dash-profile">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" id="logo-tab" data-toggle="tab" href="#logo" role="tab" aria-controls="home" aria-selected="true">Upload Logo</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="profile" aria-selected="false">Upload Video</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="contact" aria-selected="false">Social Link</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" id="edit-profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="contact" aria-selected="false">Edit Profile</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="logo" role="tabpanel" aria-labelledby="logo-tab">
                      <div class="profile-card">
                        <div class="col-md-12 text-center">
                          <div class="container">
                            
                            <div class="avatar-upload">
                              <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                              </div>
                              <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(https://cdn1.vectorstock.com/i/1000x1000/61/50/avatar-business-man-graphic-vector-9646150.jpg);"></div>
                              </div>
                              <h4 class="text-center mt-20 hidden-md">Upload Logo</h4>
                            </div>
                            <button type="submit" class=" text-center buttons-action" style="margin:0">Upload</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                      <div class="profile-card">
                        <!-- <div class="col-md-12">
                          <div class="form-group video-file">
                            <input type="file" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" />
                            <div></div>
                          </div>
                        </div> -->
                        <div class="col-md-8 offset-md-2 text-center">
                  <div class="staresd">
                        <div class="imgup"><i class="fa fa-picture-o " style="font-size: 72px;"></i>
                          <h4>Upload Video</h4>
                          <input type="file" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" />
                          <p>Maximum length of video should be 3 mins only.</p>
                        </div>
                      </div>
                       <button type="submit" class=" text-center buttons-action" >Upload</button>
                </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                      <div class="profile-card">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Facebook</label>
                              <input type="text" name="facebook" placeholder="Facebook" required class="form-control">
                              {{ form.facebook }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Linked in</label>
                              {{ form.linkdin }}
                              <input type="text" name="linkdin" placeholder="Linked In" required class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Instagram</label>
                              {{ form.instagram }}
                              <input type="text" name="instagram" placeholder="Instagram" required class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Twitter</label>
                              {{ form.twitter }}
                              <input type="text" name="twitter" placeholder="Twitter" required class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Google User Id</label>
                              {{ form.google_user }}
                              <input type="text" name="google_user" placeholder="Google User Id" required class="form-control">
                            </div>
                          </div>
                          <div class="col-md-12 text-center">
                           <button type="submit" class=" text-center buttons-action">Submit</button>
                        </div>
                      </div>
                      </div>
                    </div>
                  
                    <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-profile-tab">
                      <div class="profile-card">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Name*</label>
                              <input type="text" name="name" class=" form-control" required placeholder="Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Email*</label>
                              <input type="email" name="email" placeholder="Email" required class="form-control">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Contact Number*</label>
                              <input id="phone" name="contact" placeholder="" class=" required form-control" type="tel">
                            </div>
                          </div>
                          
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="name" class="hidden-md">Address*</label>
                              <textarea name="address" placeholder="Address" required class="form-control"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center">
                           <button type="submit" class=" text-center buttons-action">Submit</button>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>
  </div>
</section>
<!-- </div> -->

{% endblock %}

<!-- <script type="text/javascript">
  document.getElementsByTagName('input')[0].addEventListener('change', function(event) {
    var file = event.target.files[0];
    var fileReader = new FileReader();
    if (file.type.match('image')) {
      fileReader.onload = function() {
        var img = document.createElement('img');
        img.src = fileReader.result;
        document.getElementsByTagName('div')[0].appendChild(img);
      };
      fileReader.readAsDataURL(file);
    } else {
      fileReader.onload = function() {
        var blob = new Blob([fileReader.result], {type: file.type});
        var url = URL.createObjectURL(blob);
        var video = document.createElement('video');
        var timeupdate = function() {
          if (snapImage()) {
            video.removeEventListener('timeupdate', timeupdate);
            video.pause();
          }
        };
        video.addEventListener('loadeddata', function() {
          if (snapImage()) {
            video.removeEventListener('timeupdate', timeupdate);
          }
        });
        var snapImage = function() {
          var canvas = document.createElement('canvas');
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
          var image = canvas.toDataURL();
          var success = image.length > 100000;
          if (success) {
            var img = document.createElement('img');
            img.src = image;
            document.getElementsByTagName('div')[0].appendChild(img);
            URL.revokeObjectURL(url);
          }
          return success;
        };
        video.addEventListener('timeupdate', timeupdate);
        video.preload = 'metadata';
        video.src = url;
        // Load video in Safari / IE11
        video.muted = true;
        video.playsInline = true;
        video.play();
      };
      fileReader.readAsArrayBuffer(file);
    }
  });
</script> -->