{% extends "base/base_templates.html" %}
{% load static %}
{% block content %}

<div id="wrapper">
	 <div class="bg-one-banner" style="background-image: url({% static 'images/icons/background.png' %});">
  </div>
<div class="container privacypage mt-20 mb-80">
				 <div class="row">
        <div class="col-lg-12 main-head-result">
          <div class="page-content1">
            <ul>
              <li><a href="{{BASE_URL}}">Home</a>
              </li>
              <!-- <li><a href="#">Activity</a></li> -->
              <li class="active"><a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
         <!--  <div class="show-entry"> <span>24 results for <span class="readmore">HomeStay</span></span>
          </div> -->
        </div>
      </div>
				<!-- <br> -->

				<h4 class="mt-20">Privacy Policy</h4><!-- <br /> -->

<p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
<!-- <br /> -->
<h4>Interpretation and Definitions</h4>
<h4>Interpretation</h4>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions.</p>
<p>The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<!-- <br /> -->
<h4>Definitions</h4><!-- <br /> -->
<p>For the purposes of this Privacy Policy:</p><!-- <br /> -->
<ul style="list-style-type: square;padding-left:30px;">
    <li>
        <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
          </li>
    <li>
        <p><strong>Company</strong> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) </p>
          </li>
      <li><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</li>
    <li><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</li>
  <li><strong>Website</strong> refers to The Columbuslost, accessible from http://thecolumbuslost.com/</li>        <li><strong>Service</strong> refers to the Website.</li>
      <li><strong>Country</strong> refers to: Kuwait</li>
    <li>
        <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
          </li>
      </ul>
<!-- <br /> -->
<h4>Collecting and Using Your Personal Data</h4>
<h4>Types of Data Collected</h4>
<!-- <br /> -->
<h4>Personal Data</h4><!-- <br /> -->
<p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
<!-- <br /> --><ul style="list-style-type: square;padding-left:30px;">
  <li>Email address</li>  <li>First name and last name</li>  <li>Phone number</li>
</ul><!-- <br /> -->
<h4>Use of Your Personal Data</h4><!-- <br /> -->
<p>The Company may use Personal Data for the following purposes:</p>
<ul style="list-style-type: square;padding-left:30px;">
    <li><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</li>
    <li><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
    <li><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</li>
    <li><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</li>
</ul>
<!-- <br /> -->
<h4>Other legal requirements</h4><!-- <br /> -->
<p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
<ul style="list-style-type: square;padding-left:30px;">
    <li>Comply with a legal obligation</li>
    <li>Protect and defend the rights or property of the Company</li>
    <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
    <li>Protect the personal safety of Users of the Service or the public</li>
    <li>Protect against legal liability</li>
</ul>
<!-- <br /> -->
<h4>Security of Your Personal Data</h4><!-- <br /> -->
<p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
<!-- <br /> -->
<h4>Changes to this Privacy Policy</h4><!-- <br /> -->
<p>We may update our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<!-- <br /> -->
<h4>Contact Us</h4><!-- <br /> -->
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<ul style="list-style-type: square;padding-left:30px;">
        <li>By email: admin@thecolumbuslost.com</li>
        </ul>
			</div>

</div>

{% endblock %}