{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColumbusLost | Home</title>

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
         <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Country-Selecter-with-Flags-flagstrap/dist/css/flags.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.min.css">
         <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
         <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">

</head>
<body>
    
    <body class="main">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"> 
                     <div class="">
                    <a onclick="openNav()" class="menu-icon1 dektop-button"><i class="fa fa-bars"></i></a>
                     <!-- <a onclick="openNav3()" class="menu-icon1 mobile-button"><i class="fa fa-bars"></i></a> -->
                    
                </div>
                <div class="navbar-logo-image">
                    <a href="{{BASE_URL}}" class="navbar-brand">
                        <img src="{% static 'images/icons/logo.png' %}">
                    </a>
                </div>
                <div class="search-box">
                <div class="input-group mb-1 ">
                <input type="text" class="form-control" placeholder="">
                <div class="input-group-append">
                 <button class="btn btn-search" type="submit"><a href="{{BASE_URL}}hotel_result"><img src="{% static 'images/icons/search.png' %}"></a></button>
                  </div>
                </div>
                <div class="search-cat">
                    <ul>
                        <li>
                            <label>Destination</label>
                            <input type="radio" name="search" checked>
                        </li>
                        <li><label>Hotel</label>
                            <input type="radio" name="search">
                        </li>
                        <li><label>Travel</label>
                            <input type="radio" name="search">
                        </li>
                        <li><label>Events</label>
                            <input type="radio" name="search">
                        </li>
                            <li><label>Home Stays</label>
                            <input type="radio" name="search">
                        </li>
                    </ul>
                </div>
                </div>
            </div>
                <!-- <div class="" id="myNavbar">
                    
                </div> -->
                <div class="navbar-right">
                   <div class="country-set">
                            <form>
                                <div class="form-group">
                                    <!-- <label>Select Countrys</label><br> -->
                                <div id="basic" data-input-name="country"></div>
                                </div>
                            </form>
                        </div>
                        <div class="nav-2">
                            <a onclick="openNav1()" class="menu-icon1 dektop-button"><i class="fa fa-bars"></i></a>
                            
                        </div>
                        
                </div>
            </div>
        </nav>
    <!-----------------left sidebar----------->
        <div id="mySidenav" class="sidenav">
       <ul>
          <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close &times;</a></li>
          <li><a href="{{BASE_URL}}"><i class="fa fa-home"></i>Home</a></li>
    
          <li><a href="{{BASE_URL}}destination/destination_result"><i class="fa fa-building"></i>Destination</a></li>
          <li><a href="{{BASE_URL}}hotel/hotel_result"><i class="fa fa-building"></i>Hotels</a></li>
          <li><a href="{{BASE_URL}}homestay/homestay_result"><i class="fa fa-bed"></i>Home Stays</a>
          </li>
          <li><a href="{{BASE_URL}}event/event_result"><i class="fa fa-calendar"></i>Events</a></li>
          <li><a href="{{BASE_URL}}tour/travel_result"><i class="fa fa-tripadvisor"></i>Tour Operators</a></li>
      </ul>
    </div>
    
    <!------------Right Sidebar------------->
    <div id="mySidenav1" class="sidenav1">
      
      <ul>
          <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">Close &times;</a></li>
          <li><a href="{{BASE_URL}}account/registerpost"><i class="fa fa-user"></i>Register/Login</a></li>
          <li><a href="{{BASE_URL}}other/about"><i class="fa fa-users"></i>About Columbus Lost</a></li>
          <li><a href="{{BASE_URL}}other/home_advertise"><i class="fa fa-users"></i>Advertise With Us</a></li>
          <li><a href="{{BASE_URL}}contact/contacts"><i class="fa fa-phone"></i>Contact Us</a></li>
         <!--  <li><a href="#"><i class="fa fa-users"></i>Our Blog</a></li> -->
      </ul>
    </div>
    <!--------------mobile-view-sidebar-------------->
    
    {% block content %}
    {% endblock %}

    <div class="columbus_footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="xyz">
                <div class="footer_logo">
                  <img src="{% static 'images/icons/logo.png' %}">
                </div>
                <div class="mid_section">
                  <p class="mid_subtitle">DescriptionIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                </div>
                <div class="social_link"> <a href="#"><i class="fa fa-facebook-f"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-3 hidden-md">
              <h4>Our Categories</h4> 
              <ul class="category">
                <li><a href="{{BASE_URL}}hotel/hotel_result">Hotels</a>
                </li>
                <li><a href="{{BASE_URL}}homestay/homestay_result">Home Stays</a>
                </li>
                <li><a href="{{BASE_URL}}event/event_result">Events</a>
                </li>
                <li><a href="{{BASE_URL}}destination/destination_result">Destinations</a>
                </li>
                <li><a href="{{BASE_URL}}travel/travel_result">Tour Operation Directory</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 hidden-md">
              <h4>Quick Links</h4>
              <ul class="category">
                <li><a href="{{BASE_URL}}other/about">About Us</a>
                </li>
                <li><a href="{{BASE_URL}}contact/contacts">Contact Us</a>
                </li>
                <li><a href="#">Advertise With Us</a>
                </li>
                <!--  <li><a href="#">Our Blog</a>
                              </li> -->
                <li><a href="{{BASE_URL}}other/privacy_policy">Privacy Policy</a>
                </li>
                <li><a href="#">Term and Condition</a>
                </li>
                <!--  <li><a href="#">Testimonial</a>
                              </li> -->
              </ul>
            </div>
            <div class="col-md-3 hidden-md">
              <h4>Popular Destinations</h4>
              <ul class="category">
                <li><a href="{{BASE_URL}}destination/destination_detail">Goa</a>
                </li>
                <li><a href="{{BASE_URL}}destination/destination_detail">Mumbai</a>
                </li>
                <li><a href="{{BASE_URL}}destination/destination_detail">Shimla</a>
                </li>
                <li><a href="{{BASE_URL}}destination/destination_detail">Uttarakhand</a>
                </li>
                <li><a href="{{BASE_URL}}destination/destination_detail">Haridwar</a>
                </li>
              </ul>
            </div>
            <!------------------------Mobile view----------->
            <div class="col-md-12 hidden-sm mobile-view-footer">
              <div class="accordion-container">
                <div class="set" id="defaultOpen"> <a href="javascript:void(0)"> Our Categories <i class="fa fa-angle-down"></i></a>
                  <div class="content filter-alcohol style-4">
                    <ul class="category">
                      <li><a href="{{BASE_URL}}hotel/hotel_result">Hotels</a>
                      </li>
                      <li><a href="{{BASE_URL}}homestay/homestay_result">Home Stays</a>
                      </li>
                      <li><a href="{{BASE_URL}}event/event_result">Events</a>
                      </li>
                      <li><a href="{{BASE_URL}}destination/destination_result">Destinations</a>
                      </li>
                      <li><a href="{{BASE_URL}}travel/travel_result">Tour Operation Directory</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="set" id="defaultOpen"> <a href="javascript:void(0)">
                        Quick Links
                        <i class="fa fa-angle-down"></i>
                      </a>
                  <div class="content filter-alcohol style-4">
                    <ul class="category">
                      <li><a href="{{BASE_URL}}other/about">About Us</a>
                      </li>
                      <li><a href="{{BASE_URL}}contact/contacts">Contact Us</a>
                      </li>
                      <li><a href="#">Advertise With Us</a>
                      </li>
                      <!--  <li><a href="#">Our Blog</a>
                              </li> -->
                      <li><a href="{{BASE_URL}}other/privacy_policy">Privacy Policy</a>
                      </li>
                      <li><a href="#">Term and Condition</a>
                      </li>
                      <!--  <li><a href="#">Testimonial</a>
                              </li> -->
                    </ul>
                  </div>
                </div>
                <div class="set" id="defaultOpen"> <a href="javascript:void(0)">
                        Popular Destinations
                        <i class="fa fa-angle-down"></i>
                      </a>
                  <div class="content filter-alcohol style-4">
                    <ul class="category">
                      <li><a href="{{BASE_URL}}destination/destination_detail">Goa</a>
                      </li>
                      <li><a href="{{BASE_URL}}destination/destination_detail">Mumbai</a>
                      </li>
                      <li><a href="{{BASE_URL}}destination/destination_detail">Shimla</a>
                      </li>
                      <li><a href="{{BASE_URL}}destination/destination_detail">Uttarakhand</a>
                      </li>
                      <li><a href="{{BASE_URL}}destination/destination_detail">Haridwar</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------------Modal--------------------->
      <div class="modal book-now-modal" id="contact-detail-form">
        <div class="modal-dialog">
          <div class="modal-content show-popup">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Contact Detail Form</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <!--  <div class="col-md-12"> -->
                  <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="name">Email*</label>
                    <input type="Email" class="form-control" id="name" placeholder="">
                  </div>
                  <!-- </div> -->
                  <!-- <div class="col-md-12"> -->
                  <div class="form-group">
                    <label for="name">Phone*</label>
                    <input id="phone" class="form-control" type="tel">
                  </div>
                  <!-- </div> -->
                </div>
                <div class="col-md-12 text-center">
                  <button class="buttons-action" data-toggle="modal" data-target="#contact-detail" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------------Modal Ends----------------->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="{% static 'js/slick.js' %}"></script>
      <script src="{% static 'js/jquery.flagstrap.js' %}"></script>
      <script src="{% static 'js/range-slider.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noisy/1.2/jquery.noisy.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
      <script>
      function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
      
        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more"; 
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less"; 
          moreText.style.display = "inline";
        }
      }
      </script>
      <script>
      function myFunction() {
        var dots = document.getElementById("dots-review");
        var moreText = document.getElementById("more-review");
        var btnText = document.getElementById("btn-review");
      
        if (dots.style.display === "none") {
          dots.style.display = "inherit";
          btnText.innerHTML = "Read more"; 
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less"; 
          moreText.style.display = "inherit";
        }
      }
      </script>
      
      <script>
        var telInput = $("#phone"),
              errorMsg = $("#error-msg"),
              validMsg = $("#valid-msg");
            
            // initialise plugin
            telInput.intlTelInput({
            
              allowExtensions: true,
              formatOnDisplay: true,
              autoFormat: true,
              autoHideDialCode: true,
              autoPlaceholder: true,
              defaultCountry: "in",
              ipinfoToken: "yolo",
            
              nationalMode: false,
              numberType: "MOBILE",
              //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
              preferredCountries: ['in', 'ae', 'qa','om','bh','kw','ma'],
              preventInvalidNumbers: true,
              separateDialCode: true,
              initialCountry: "in",
              geoIpLookup: function(callback) {
              $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                callback(countryCode);
              });
            },
               utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"
            });
            
            var reset = function() {
              telInput.removeClass("error");
              errorMsg.addClass("hide");
              validMsg.addClass("hide");
            };
            
            // on blur: validate
            telInput.blur(function() {
              reset();
              if ($.trim(telInput.val())) {
                if (telInput.intlTelInput("isValidNumber")) {
                  validMsg.removeClass("hide");
                } else {
                  telInput.addClass("error");
                  errorMsg.removeClass("hide");
                }
              }
            });
            
            // on keyup / change flag: reset
            telInput.on("keyup change", reset);
      </script>
      <script>
        $( document ).ready( function() {
        
        $('body').noisy({
            intensity: 0.2,
            size: 200,
            opacity: 0.28,
            randomColors: false, // true by default
            color: '#000000'
        });
          
            //Google Maps JS
            //Set Map
            function initialize() {
                    var myLatlng = new google.maps.LatLng(53.3333,-3.08333);
                    var imagePath = 'http://m.schuepfen.ch/icons/helveticons/black/60/Pin-location.png'
                    var mapOptions = {
                        zoom: 11,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
        
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                //Callout Content
                var contentString = 'Some address here..';
                //Set window width + content
                var infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 500
                });
        
                //Add Marker
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    icon: imagePath,
                    title: 'image title'
                });
        
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
        
                //Resize Function
                google.maps.event.addDomListener(window, "resize", function() {
                    var center = map.getCenter();
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(center);
                });
            }
        
            google.maps.event.addDomListener(window, 'load', initialize);
        
        });
      </script>
      <script>
        $("#single").select2({
                  placeholder: "Select Destination",
                  allowClear: true
              });
              $("#single2").select2({
                  placeholder: "Select a programming language",
                  allowClear: true
              });
      </script>
      <!--  <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Country-Selecter-with-Flags-flagstrap/dist/js/jquery.flagstrap.js"></script> -->
      <!-------------Acoordian JS--------------->
      <script>
        $(document).ready(function() {
          $(".set > a").on("click", function() {
            if ($(this).hasClass("active")) {
              $(this).removeClass("active");
              $(this)
                .siblings(".content")
                .slideUp(200);
              $(".set > a i")
                .removeClass("fa-angle-up")
                .addClass("fa-angle-down");
            } else {
              $(".set > a i")
                .removeClass("fa-angle-up")
                .addClass("fa-angle-down");
              $(this)
                .find("i")
                .removeClass("fa-angle-down")
                .addClass("fa-angle-up");
              $(".set > a").removeClass("active");
              $(this).addClass("active");
              $(".content").slideUp(200);
              $(this)
                .siblings(".content")
                .slideDown(200);
            }
          });
        });
      </script>
      <!--  <script>
              $('#carouselExample').on('slide.bs.carousel', function (e) {
              
                  var $e = $(e.relatedTarget);
                  var idx = $e.index();
                  var itemsPerSlide = 3;
                  var totalItems = $('.carousel-item').length;
                  
                  if (idx >= totalItems-(itemsPerSlide-1)) {
                      var it = itemsPerSlide - (totalItems - idx);
                      for (var i=0; i<it; i++) {
                          // append slides to end
                          if (e.direction=="left") {
                              $('.carousel-item').eq(i).appendTo('.carousel-inner');
                          }
                          else {
                              $('.carousel-item').eq(0).appendTo('.carousel-inner');
                          }
                      }
                  }
              });
          </script> -->
      <!---------------------Country dropdown js-------------->
      <script>
        $('#basic').flagStrap();
        
        $('.select-country').flagStrap({
            countries: {
                "US": "USD",
                "AU": "AUD",
                "CA": "CAD",
                "SG": "SGD",
                "GB": "GBP",
            },
            buttonSize: "btn-sm",
            buttonType: "btn-info",
            labelMargin: "10px",
            scrollable: false,
            scrollableHeight: "350px"
        });
        
        $('#advanced').flagStrap({
            buttonSize: "btn-lg",
            buttonType: "btn-primary",
            labelMargin: "20px",
            scrollable: false,
            scrollableHeight: "350px"
        });
      </script>
      <!-----------------Sidebar js--------------------------->
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "365px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
      <script>
        function openNav1() {
          document.getElementById("mySidenav1").style.width = "365px";
        }
        
        function closeNav1() {
          document.getElementById("mySidenav1").style.width = "0";
        }
      </script>
      <script>
        function openNav3() {
          document.getElementById("mySidenav3").style.width = "345px";
        }
        
        function closeNav3() {
          document.getElementById("mySidenav3").style.width = "0";
        }
      </script>
      <!--   <script>
        $(window).load(function() {
        $('#carousel').flexslider({
          animation: "slide",
          controlNav: false,
          animationLoop: false,
          slideshow: false,
          itemWidth: 174,
          itemMargin: 5,
          asNavFor: '#slider'
        });
       
        $('#slider').flexslider({
          animation: "slide",
          controlNav: false,
          animationLoop: false,
          slideshow: false,
          sync: "#carousel"
        });
      });
      </script> -->
      </body>
      
      </html>