{% extends "base/base_templates2.html" %}
{% load static %}
{% block content %}

<!----------------COntent start-------------->
<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <div class="table-responsive">
          	<table id="example" class="table table-striped table-bordered" style="width:100%">
          		<thead>
          			<tr>
                   <!-- <th>Posted Date</th> -->
          				<th>Destination</th>
                 
          				<th>Name</th>
          				<!-- <th>Action Hours</th> -->
                  <!-- <th>Your Business</th> -->
          				<th>Address</th>
          				<th>Zip Code</th>
          				<th>Action</th>
          			</tr>
          		</thead>
          		<tbody>
                {% for t in business %}
          			<tr>
                  <!-- <td>22/05/2020</td> -->
                  
                  <td>{{t.destination}}</td>
          				<td>{{t.hotel_name}}</td>
          				<!-- <td>8 hours</td> -->
                  <!-- <td>Car Rental</td> -->
          				<td>{{t.address}}</td>
          				<td>{{t.zipcode}}</td>
          				<td >
          					<table class="act-button">
          						<tr>
                        <td>{{t.action}}</td>
          							<td ><a href="{{BASE_URL}}/business_edit/{{t.id}}" title="Edit" class="btn-edit "><span class="fa fa-pencil"></span></a></td>
          						    <td><a href="{{BASE_URL}}business_delete/{{ t.id }}" class="btn-delete" title="Delete" data-toggle="modal" data-target="#modal-default2"><span class="fa fa-trash"></span></a></td>
                           <td ><a href="#"  class="btn-view" title="View Online"><span class="fa fa-eye"></span></a></td>
          					    </tr>
          					</table>
                    
                            </td></tr>
          		</tbody>
          	</table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!------------Delete messege Modal Popup Start------->
<div class="modal fade in sp-map" id="modal-default2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span>
          </button>
                
      </div>
      <div class="modal-body">
        <div class="paper">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                                   <!--  <div class="login-form-content"> -->
                <!-- <form action="javascript:(0);"> -->
                  <form action="{{BASE_URL}}business_delete/{{ t.id }}">
                  <div class="row">
                      <p>Are you sure you want to Delete?</p>
                    <div class="col-md-6">
                        <button type="submit" class="buttons-action btn-block" >Yes</button>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <button type="submit" class="buttons-action btn-block" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
                  
                      <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!--------------------Delete Message Modal Ends---------------->
        {% endfor %}
</section>

{% endblock %}