{% extends "base/base_templates2.html" %}
{% load static %}
{% block content %}

<!----------------COntent start-------------->
<form method="POST" class="post-form" action='{{BASE_URL}}post_homestay/'>
  {% csrf_token %}
<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <!-- <div class="login-form-content"> -->
            <form action="javascript:(0);">
              <h2 class="form-title">Post a HomeStay</h2>
              <div class="form-define-head">
                <h4><span>step 1</span>HomeStay Name & Address</h4>
              </div>
              <div class="row">
                <div class="col-md-6">
                 <!--  <div class="col-md-12"> -->
                    <div class="form-group">
                        <label for="name" class="hidden-md">HomeStay Name*</label>
                        <!-- <input type="text" class="form-control" id="name" placeholder="HomeStay Name" required> -->
                        {{ form.home_name }}

                    </div>
                  <!-- </div> -->
                  <!-- <div class="col-md-12"> -->
                    <div class="form-group">
                        <label for="name"  class="hidden-md">Address*</label>
                        <!-- <textarea rows="1" placeholder="Address" required class="form-control"></textarea> -->
                        {{ form.address }}
                    </div>
                  <!-- </div> -->
                </div>
                <div class="col-md-6">
                  <!-- <div class="col-md-12"> -->
                    <div class="form-group">
                        <label for="name" class="hidden-md">Destination*</label>
                        <!-- <select placeholder="" required id="single" class="js-states form-control">
                        <option disabled selected value></option>
                        <option>Goa</option>
                        <option>Chennai</option>
                        <option>Mumbai</option>
                        <option>Kolkata</option>
                        <option>Delhi</option>
                        <option>Madhya Pradesh</option>
                      </select>  -->
                      {{ form.destination }}
                    </div>
                 <!--  </div> -->
                  <!-- <div class="col-md-12"> -->
                    <div class="form-group">
                        <label for="name" class="hidden-md">Zip Code*</label>
                        <!-- <input type="text" class="form-control" id="name" placeholder="Zip Code" required> -->
                        {{ form.zipcode }}
                    </div>
                <!--   </div> -->
                  <!-- <div class="col-md-12"> -->
                   <!--  <label style="margin-bottom: 0;">Facilities Offered</label>
                    <select placeholder=" " id="multiple-checkboxes" multiple="multiple" class="form-control">
                      <option value="php">AC</option>
                      <option value="javascript">WiFi</option>
                      <option value="java">Vehicle</option>
                      <option value="sql">Food</option>
                    </select> <span class="label-text">&nbsp;</span>  -->
                    <!--  </label> -->
                 <!--  </div> -->
                 
                </div>
              </div>
              <hr>
              <div class="form-define-head">
                <h4><span>step 2</span>About HomeStay, Images & Pricing</h4>
              </div>
              <div class="row">
                <div class="col-md-12 multi-select-icon">
                  <label style="padding: 0;margin: 0; border:none;">Facilities offered</label>
                  <ul>
  <li>
    <input type="checkbox" id="myCheckbox1" />
    <label for="myCheckbox1"><img src="{% static 'images/air-conditioner.png' %}" /><br><span>A.C.</span></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox2" />
    <label for="myCheckbox2"><img src="{% static 'images/internet.png' %}" /><br><span>Wi-Fi</span></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox3" />
    <label for="myCheckbox3"><img src="{% static 'images/milk.png' %}" /><br><span>Breakfast</span></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox4" />
    <label for="myCheckbox4"><img src="{% static 'images/cctv.png' %}" /><br><span>Cctv</span></label>
  </li>
  <li>
    <input type="checkbox" id="myCheckbox5" />
    <label for="myCheckbox5"><img src="{% static 'images/air-conditioner.png' %}" /><br><span>A.C.</span></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox6" />
    <label for="myCheckbox6"><img src="{% static 'images/internet.png' %}" /><br><span>Wi-Fi</span></label>
  </li>
  <li>
</ul>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                  <label class="hidden-md">About HomeStay</label>
                    <!-- <textarea class="form-control" placeholder="About HomeStay" rows="4" cols="50"></textarea> -->
                    {{ form.about_homestay }}
                </div>
                </div>
              </div>
              <label for="field" class="font-weight-bold">Upload Images</label>
              <div class="row">
                <div class="col-md-10 dynamic-field" id="dynamic-field-1">
                  <div class="row">
                    <!-- <div class="col-md-2">
                      <div class="form-group">
                        <label for="field">Cover Image</label>
                          <input type="radio" id="field" class="box-control" name="field[]" />
                        
                      </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="field" class="hidden-md">Image Name*</label>
                          <!-- <input type="text" id="field" placeholder="Image Name" required class="form-control" name="field[]" /> -->
                          {{ form.image_name }} 
                          <label><input type="radio" name="cover" style="margin-right: 7px;">Cover Image</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="staresd">
                        <div class="imgup"><h4><i class="fa fa-image"></i> Upload Image</h4>
                          <input type="file">
                          <!-- {{ form.upload_image }} -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-5">
                      <div class="form-group ">
                        <label for="field">Image</label>
                        <input type="file" id="field" class="form-control" name="field[]" style="padding: 3px;" />
                      </div>
                    </div> --></div>
                </div>
                <div class="col-md-2 mt-30 append-buttons">
                  <div class="clearfix">
                    <button type="button" id="add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fa fa-plus fa-fw"></i>
                    </button>
                    <button type="button" id="remove-button" class="btn btn-secondary float-left text-uppercase ml-1" disabled="disabled"><i class="fa fa-minus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <hr>
              <label for="field" class="font-weight-bold">Cost Per Night</label>
              <div class="row">
                <div class="col-md-10 dynamic-input2" id="dynamic-input-2">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name" class="hidden-md">Cost Per Person*</label>
                        <!-- <input type="text" class="form-control" id="name" placeholder="Cost Per Person" required> -->
                        {{ form.cost_pperson }}
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label class="hidden-md">Cost Per Night</label>
                        <!-- <input type="text" placeholder="Cost Per Night" id="field" class="form-control" name="field[]" /> -->
                        {{ form.cost_pnight }}
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mt-30 append-buttons">
                  <div class="clearfix">
                    <button type="button" id="add-button2" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fa fa-plus fa-fw"></i>
                    </button>
                    <button type="button" id="remove-button2" class="btn btn-secondary float-left text-uppercase ml-1" disabled="disabled"><i class="fa fa-minus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <hr>
               <div class="form-define-head">
                <h4><span>step 3</span>Other Links</h4>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                        <label for="field" class="hidden-md">Facebook*</label>
                          <!-- <input type="text" placeholder="Facebook" required class="form-control" name="field[]" /> -->
                          {{ form.facebook }}
                      </div>
                </div>
                <div class="col-md-5">
                   <div class="form-group">
                        <label for="field" class="hidden-md">Instagram*</label>
                          <!-- <input type="text" placeholder="Instagram" required class="form-control" name="field[]" /> -->
                          {{ form.instagram }}
                      </div>
                </div>
                 <div class="col-md-5">
                   <div class="form-group">
                        <label for="field" class="hidden-md">Linkedin*</label>
                          <!-- <input type="text" placeholder="Linkedin" required class="form-control" name="field[]" /> -->
                          {{ form.linkdin }}
                      </div>
                </div>
                 <div class="col-md-5">
                   <div class="form-group">
                        <label for="field" class="hidden-md">Twitter*</label>
                          <!-- <input type="text" placeholder="Twitter" required class="form-control" name="field[]" /> -->
                          {{ form.twitter }}
                      </div>
                </div>
                 <div class="col-md-5">
                   <div class="form-group" class="hidden-md">
                        <label for="field" class="hidden-md">Google User Id*</label>
                          <!-- <input type="text" placeholder="Google User Id" required class="form-control" name="field[]" /> -->
                          {{ form.google_user }}
                      </div>
                </div>
                <div class="col-md-5">
                   <div class="form-group">
                        <label for="field" class="hidden-md">Website Link</label>
                          <!-- <input type="text" placeholder="Website Links" class="form-control" name="field[]" /> -->
                          {{ form.website }}
                      </div>
                </div>
              </div>
              <hr>
              <div class="form-define-head">
                <h4><span>step 4</span>HomeStay Location</h4>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                        <label for="field" class="hidden-md">Latitude*</label>
                          <!-- <input type="text" placeholder="Latitude" required class="form-control" name="field[]" /> -->
                          {{ form.latitude }}
                      </div>
                </div>
                <div class="col-md-5">
                   <div class="form-group">
                        <label for="field" class="hidden-md">Longitude*</label>
                          <!-- <input type="text"  class="form-control" placeholder="Longitude" required name="field[]" /> -->
                          {{ form.longitude }}
                      </div>
                </div>
                <div class="col-md-12">
                  <div id="map_container"></div>
                  <div id="map"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <!-- <a href="{{BASE_URL}}homestay_preview"> -->
                    <input type="submit" class="buttons-action" value="Preview" />
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>
  </div>
</section>
</div>
</form>

{% endblock %}

<script>
  $(':radio').change(function() {
    console.log('New star rating: ' + this.value);
  });
</script>
<script>
  $(document).ready(function() {
        var buttonAdd = $("#add-button2");
        var buttonRemove = $("#remove-button2");
        var className = ".dynamic-input2";
        var count = 0;
        var field = "";
        var maxFields =50;
      
        function totalFields() {
          return $(className).length;
        }
      
        function addNewField() {
          count = totalFields() + 1;
          field = $("#dynamic-input-2").clone();
          field.attr("id", "dynamic-input-" + count);
          field.children("label").text("Field " + count);
          field.find("input").val("");
          $(className + ":last").after($(field));
        }
      
        function removeLastField() {
          if (totalFields() > 1) {
            $(className + ":last").remove();
          }
        }
      
        function enableButtonRemove() {
          if (totalFields() === 2) {
            buttonRemove.removeAttr("disabled");
            buttonRemove.addClass("shadow-sm");
          }
        }
      
        function disableButtonRemove() {
          if (totalFields() === 1) {
            buttonRemove.attr("disabled", "disabled");
            buttonRemove.removeClass("shadow-sm");
          }
        }
      
        function disableButtonAdd() {
          if (totalFields() === maxFields) {
            buttonAdd.attr("disabled", "disabled");
            buttonAdd.removeClass("shadow-sm");
          }
        }
      
        function enableButtonAdd() {
          if (totalFields() === (maxFields - 1)) {
            buttonAdd.removeAttr("disabled");
            buttonAdd.addClass("shadow-sm");
          }
        }
      
        buttonAdd.click(function() {
          addNewField();
          enableButtonRemove();
          disableButtonAdd();
        });
      
        buttonRemove.click(function() {
          removeLastField();
          disableButtonRemove();
          enableButtonAdd();
        });
      });
</script>